.nav__button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.2rem;

  color: var(--text-over-primary);

  background-color: var(--primary);

  border: 0;
  border-radius: 0.8rem;

  cursor: pointer;

  transition: filter 0.3s ease;
}

.nav__button:hover {
  filter: brightness(80%);
}
