.default-button {
  height: 4.8rem;
  width: 24rem;

  border: 0;
  border-radius: 0.8rem;

  color: var(--text-over-primary);

  cursor: pointer;

  transition: filter 0.3s ease;

  svg {
    height: 3.2rem;
    width: 3.2rem;
  }
}

.default-button:hover {
  filter: brightness(80%);
}

.green {
  background-color: var(--primary);
}

.red {
  color: var(--text-over-error);

  background-color: var(--error);
}
